@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #83f52c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  animation: blink 1s steps(4, start) infinite;
  text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;
}

.grids {
  display: flex;
  align-items: center;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 250px;
  height: 500px;
  border: 0.3rem solid black;
}

.tile {
  width: 25px;
  height: 25px;
  background-color: #83f52c;
  /* border: 0.5px solid black; */
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}


.gridMini {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  border: 0.3rem solid black;
}

.tileMini {
  width: 25px;
  height: 25px;
  background-color: #83f52c;
}

.startOrPause {
  margin: 2rem;
  padding: 1rem;
  font-family: 'Press Start 2P', cursive;
  color: #83f52c;
  background-color: black;
}


.scoreDisplay {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  margin-top: 1rem;
}

@keyframes blink {
   100% {
     visibility: hidden;
   }
}

.tetromino {
  background-color: #fff;
}


