@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #35212A;
  /* background-color: #83f52c; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  animation: blink 1s steps(4, start) infinite;
  text-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;
}

.grids {
  display: flex;
  align-items: center;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-right: 1rem;
  width: 250px;
  height: 500px;
  border: 0.3rem solid #ffdef3;
  background: black;
  box-shadow: 
  0 0 50px #fff,            /* outer white */
  -10px 0 80px #ff61be,        /* outer left magenta */
  10px 0 80px #3b55ce; 
  /* box-shadow: 
  0px 0px 40px 15px #535eeb,
  0 0 50px #fff,
  0 0 50px 25px #fff;  */
}

.tile {
  width: 25px;
  height: 25px;
  background-color: black;
  /* border: 0.5px solid black; */
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}


.gridMini {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  border: 0.3rem solid #ffdef3;
  background-color: #000;
  box-shadow: 12px 12px 2px 1px #ffd300;
}

.tileMini {
  width: 25px;
  height: 25px;
  background-color: #0000;
}

.startOrPause {
  margin: 2rem;
  padding: 1rem;
  font-family: 'Press Start 2P', cursive;
  color: #FFF;
  background-color: black;
}


.scoreDisplay {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  margin-top: 1rem;
  color: #ffd300;
}

@keyframes blink {
   100% {
     visibility: hidden;
   }
}

.tetromino {
  background-color: #fff;
}


@media screen and (min-width: 300px) {
  .grids {
    flex-direction: column;
  }
}

/* @media screen and (min-width: 520px) {

  .grid {
    width: 180px;
    height: 360px; 
  }
  .tile {
    width:17.5px;
    height: 17.5px;
    /* border: 1px solid white; */
  /* }
}   */

@media screen and (min-width: 550px) {

  .grids {
    flex-direction: row;
  }

  .grid {
    width: 250px;
  height: 500px;
    /* align-items: center; */
    justify-content: center;
  }
  .tile {
    width:25px;
    height: 25px;
    /* border: 1px solid white; */
  }
}






 










